html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  font: caption;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #e8fdf5;
  height: 12rem;
  width: 20rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  border: 0;
  color: white;
  padding: 1rem 2rem;
  background-color: rgb(19, 119, 82);
  font-size: .875rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
