/**************************\
  Page Styles
\**************************/

.underline {
  text-decoration-skip: ink;
}

code {
  color: blueviolet;
  padding: .2rem .4rem;
  font-size: 90% !important;
  background-color: #f7f7f9;
  border-radius: .25rem;
}



pre code {
  // word-wrap: normal;
  // white-space: -moz-pre-wrap;
  // white-space: pre-wrap;
  font-size: 15px;
}

code {
  // white-space: pre;
  // font-family: monospace;
  line-height: 1.5;
  font-family: Source Code Pro, Consolas, monaco, monospace !important;
}

ul.checkmark {
    list-style-type:none;
}
ul.checkmark li:before {
    content:"\2713\0020";
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    color: #19a974;
    margin-right: 4px;
}

ul.ordered {
    list-style-type:none;
    counter-reset: comments;
}
ul.ordered ol {
  position: relative;
}
ul.ordered ol:before {
    counter-increment: comments;                 /* Increment the value of comments counter by 1 */
    content: counter(comments);
    color: #fff;
    margin-right: 4px;
    position: absolute;
    left: 0;
    font-size: 12px;
    background-color: #19a974;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-top: 4px;
}

// body {
//   background-color: #d0e5ff;
//   color: #3c57a0;
// };

// body {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   background-color: #d0e5ff;
//   font-family: sans-serif;
//   margin-top: 50px;
//   color: #50596c;
//   font-size: 18px;
// }

// h1, h2, h3, h4, h5, h6 {
//   margin: 0;
// }

// h3 {
//   font-size: 22px;
// }

// p {
//   line-height: 1.5;
//   font-size: 18px;
//   line-height: 32px;
// }

// a {
//   color: #5764c6;
// }

// .wrapper {
//   max-width: 560px;
//   margin: 0 auto;
// }

// strong { font-weight: 600; }

// .intro {
//   font-weight: 300;
//   font-size: 32px;
//   line-height: 1.4;
//   margin: 60px 0;
//   color: #3c57a0;
// }

.logo {
  display: flex;
  align-items: center;
  // margin-bottom: 60px;
  // margin-top: 60px;
}
.logo__mark {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: #3c57a0;
  border-radius: 3px;
}
.logo__text {
  margin-left: 5px;
  color: #3c57a0;
  margin-top: 1px;
}

/**************************\
  Required Styles
\**************************/

[aria-hidden="true"] {
  display: none;
}


/**************************\
  Basic Modal Styles
\**************************/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }



/**************************\
  Demo Animation Style - 1
\**************************/

@keyframes mm-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mm-scaleUp {
  from { transform: scale(0.8); }
    to { transform: scale(1); }
}

@keyframes mm-fadeInUp {
  from { opacity: 0; transform: translate3d(0, 150%, 0); }
  to { opacity: 1; transform: none; }
}


.micromodal-bounce[aria-hidden="false"] {
  animation: mm-fadeIn .4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-bounce[aria-hidden="false"] .modal__container {
  animation: mm-scaleUp .5s cubic-bezier(0.68, -0.55, 0.13, 1.94)
}

.micromodal-bounce[aria-hidden="false"] .modal__header {
  animation: mm-fadeInUp .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: .1s;
}

.micromodal-bounce[aria-hidden="false"] .modal__content {
  animation: mm-fadeInUp .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

.micromodal-bounce[aria-hidden="false"] .modal__footer {
  animation: mm-fadeInUp .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: .3s;
}

.micromodal-bounce .modal__container,
.micromodal-bounce .modal__header,
.micromodal-bounce .modal__content,
.micromodal-bounce .modal__footer {
  will-change: transform;
}

.micromodal-bounce .modal__header,
.micromodal-bounce .modal__content,
.micromodal-bounce .modal__footer {
  opacity: 0;
}


/**************************\
  Demo Animation Style - 2
\**************************/
@keyframes mm-slideIn {
  from { transform: translateY(-25%); }
    to { transform: translateY(0); }
}

.micromodal-slide[aria-hidden="false"] {
  animation: mm-fadeIn .4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mm-slideIn .5s cubic-bezier(0, 0, .2, 1);
}

.micromodal-bounce .modal__container,
.micromodal-bounce .modal__content {
  will-change: transform;
}


/**************************\
  Demo Animation Style - 3
\**************************/
@keyframes mm-scaleIn {
  from { transform: scale(1.2); }
    to { transform: scale(1); }
}

.micromodal-scale[aria-hidden="false"] {
  animation: mm-fadeIn .4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-scale[aria-hidden="false"] .modal__container {
  animation: mm-scaleIn .5s cubic-bezier(0, 0, .2, 1);
}

.micromodal-bounce .modal__container,
.micromodal-bounce .modal__content {
  will-change: transform;
}
