/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style - 1
\**************************/

@keyframes mm-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mm-scaleUp {
  from { transform: scale(0.8); }
    to { transform: scale(1); }
}

@keyframes mm-fadeInUp {
  from { opacity: 0; transform: translate3d(0, 150%, 0); }
  to { opacity: 1; transform: none; }
}


.micromodal-bounce[aria-hidden="false"] {
  animation: mm-fadeIn .4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-bounce[aria-hidden="false"] .modal__container {
  animation: mm-scaleUp .5s cubic-bezier(0.68, -0.55, 0.13, 1.94)
}

.micromodal-bounce[aria-hidden="false"] .modal__header {
  animation: mm-fadeInUp .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: .1s;
}

.micromodal-bounce[aria-hidden="false"] .modal__content {
  animation: mm-fadeInUp .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

.micromodal-bounce[aria-hidden="false"] .modal__footer {
  animation: mm-fadeInUp .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: .3s;
}

.micromodal-bounce .modal__container,
.micromodal-bounce .modal__header,
.micromodal-bounce .modal__content,
.micromodal-bounce .modal__footer {
  will-change: transform;
}

.micromodal-bounce .modal__header,
.micromodal-bounce .modal__content,
.micromodal-bounce .modal__footer {
  opacity: 0;
}
